<nav class="bg-gray-800 text-white fixed top-0 w-full p-4 z-50">
    <ul class="flex justify-center space-x-6">
        <li><a href="{{ '/' | relative_url }}" class="hover:text-gray-300">Home</a></li>
        <li><a href="{{ '/artists' | relative_url }}" class="hover:text-gray-300">Artists</a></li>
        <li><a href="{{ '/lps' | relative_url }}" class="hover:text-gray-300">Lps</a></li>
        <li><a href="javascript:void(0)" class="hover:text-gray-300 logout">Logout</a></li>
    </ul>
</nav>